<div id="<%= dom_id card %>">
  <p>
    <strong>Titre:</strong>
    <%= card.titre %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= card.nom %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= card.age %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= card.position %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= card.image %>
  </p>

</div>
