<p style="color: green"><%= notice %></p>

<h1>Cards</h1>

<div id="cards">
  <% @cards.each do |card| %>
    <%= render card %>
    <p>
      <%= link_to "Show this card", card %>
    </p>
  <% end %>
</div>
<div class="card" style="width: 18rem;">
  <img src="<%= card.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
      <p>
      <strong>Nom:</strong>
      <%= card.nom %>
    </p>
    </h5>
    <p class="card-text">
      <p>
        <strong>Age:</strong>
          <%= card.age %>
      </p>
    </p>
    <p>
    <strong>Position:</strong>
    <%= card.position %>
  </p>
</div>
</div>
<%= link_to "New card", new_card_path %>
