<p style="color: green"><%= notice %></p>

<h1>Cards</h1>

<div id="cards">
  <% @cards.each do |card| %>
    <%= render card %>
    <p>
      <%= link_to "Show this card", card %>
    </p>
  <% end %>
</div>
<div class="row"> #style="width: 18rem;"
  <% @cards.each do |card| %>
      <div class="col-3">
      <div class="card" style="width: 18rem; background-color: #FAE5C1;">
        <%=image.tag card.image %>
        <div class="card-body">
          <h5 class="card-nom"><%= card.nom %></h5>
          <p class="card-age"><%= card.age %></p>
          #a href="#" class="btn btn-primary"></a>
          <p class="card-position"><%= card.position %></p>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "New card", new_card_path %>
