p style="color: green"><%= notice %></p>

<%= render @card %>

<div>
    <%= link_to "Edite cette carte", edit_card_path(@card) %> |
    <%= link_to "Retourne voir les cartes", cards_path %>
    <%= button_to "Destruit cette carte", @card, method: :delete %>
</div>
