<!DOCTYPE html>
<html>
  <head>
    <title>Footconcept</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src"https://cdn.discordapp.com/attachments/1081236146610249768/1081252808013119659/Kuiko_Logo_Manchester_United_en_fond_Blanc_e22c7a08-89ae-4dbf-a68c-51f88e0539be.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Collection</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
              <li class="nav-item">
                <a class="nav-link disabled"></a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    
  </body>
</html>
